footer {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: .6rem;
    background: linear-gradient(180deg,
            #000000 0%,
            #020617 60%,
            #0f172a 100%);
}

.spanFooter {
    font-family: "Kanit", sans-serif;
}