footer {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: .6rem;
    background: linear-gradient(180deg,
            #000000 0%,
            #09090b 60%,
            #18181b 100%);
    text-transform: uppercase;
}

.spanFooter {
    font-family: "Kanit", sans-serif;
}