.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg,
            #18181b 0%,
            #09090b 60%,
            #000000 100%);
}

.divTitle {
    text-align: center;
    margin: 5px 0 15px 0;
    padding: 5px;
}

.divTitle h1 {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

.divTitle h1 a {
    text-decoration: none;
    color: #fff;
}

.divTitle p {
    color: #ccc;
    font-weight: bold;
    font-size: .75rem;
    text-transform: uppercase;
}

#navFlex {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: .5rem .2rem;
}


.navSocialItems {
    display: flex;
    padding: .5rem;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    list-style: none;
}

.navSocialItems li a {
    font-size: 1rem;
    padding: .5rem;
    margin: .2rem;
    color: #fff;
}

.navSocialItems li a:hover {
    color: #c4c4c4;
    transition: all .3s;
}

.navItems {
    display: flex;
    padding: .5rem;
    list-style: none;
}

.navItems li a {
    color: #c4c4c4;
    font-size: 1rem;
    text-decoration: none;
    padding: .4rem .8rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.navSocialItems li a svg {
    font-size: 1.2rem;
}

.navItems li a:hover {
    color: #fff;
    transition: all .3s;
}

.active {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}