* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

input::placeholder,
textarea::placeholder {
    font-family: Helvetica, sans-serif;
    color: #aaa;
}

input:focus,
textarea:focus {
    outline: none;
}